@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

// Colors
$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$cyan: hsl(170, 45%, 43%);
$grayBlue: hsl(240, 75%, 98%);
$gray: hsl(0, 0%, 75%);

// Media Queries
$phones: 600px;
$tablet: 768px;
$desktop: 1024px;

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $veryDarkBlue;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding-inline-start: 0;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: $brightBlue;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    transform: translate(0, -1px);
  }
}

input {
  border: 1px solid $veryDarkBlue;
  border-radius: 5px;
  color: $veryDarkBlue;
  outline: none;
  &::placeholder {
    font-family: "Raleway", sans-serif;
    color: $gray;
  }
}

header {
  margin-top: 2em;
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      max-width: 80px;
      margin-right: auto;
    }
    a {
      font-size: 0.8em;
      margin-left: 2em;
      color: $veryDarkBlue;
      transition: all 0.3s ease;
      white-space: nowrap;
      &:hover {
        color: $brightBlue;
      }
    }
  }
}

section.hero {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
  h1 {
    font-size: 1.5em;
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  p {
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }
  .register {
    display: flex;
    flex-direction: column;
    input {
      padding: 0.5em 1em;
      margin-bottom: 1em;
      &::placeholder {
        font-size: 0.8em;
      }
    }
    .btn {
      padding: 0.8em 0;
      font-size: 0.9em;
    }
  }
}

.background-curve {
  background-image: url(/images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 3.5em;
  margin: 0 auto;
}

section.productive {
  text-align: center;
  background-color: $grayBlue;
  .img-content {
    margin-top: 3em;
    margin-bottom: 4em;
  }
  .text-content {
    h1 {
      font-size: 1em;
      line-height: 1.5;
    }
    p {
      font-size: 0.9em;
      text-align: left;
      line-height: 1.5;
    }
    .fylo-link {
      display: flex;
      justify-content: space-between;
      max-width: 140px;
      border-bottom: 1px solid $cyan;
      margin: 0 auto;
      margin-top: 2em;
      align-items: center;
      padding-bottom: 0.3em;
      a {
        font-size: 0.8em;
        color: $cyan;
      }
      .arrow-icon {
        display: flex;
        align-items: center;
      }
    }
    .testimonials {
      background-color: #fff;
      border-radius: 5px;
      padding: 1.2em 1.8em;
      margin: 0 auto;
      margin-top: 3em;
      margin-bottom: 5em;
      .icon-quotes {
        width: 1em;
      }
      p {
        text-align: left;
        font-size: 0.65em;
        line-height: 1.5;
        letter-spacing: 0.2px;
        margin-top: 0.5em;
      }
      .user {
        display: flex;
        align-items: center;
        .avatar {
          max-width: 24px;
          margin-right: 0.5em;
          img {
            border-radius: 50%;
          }
        }
        .profile {
          .name {
            font-size: 0.6em;
            font-weight: 700;
            margin-bottom: 0.4em;
          }
          .title {
            font-size: 0.5em;
            line-height: 1;
            margin-top: 0;
          }
        }
      }
    }
  }
}

section.cta {
  text-align: center;
  background-color: $desaturatedBlue;
  color: #fff;
  .text-content {
    h1 {
      font-size: 1em;
      margin-top: 3em;
      margin-bottom: 1em;
    }
    p {
      font-size: 0.8em;
      width: 85%;
      margin: 0 auto;
      line-height: 1.5;
      margin-bottom: 1.5em;
    }
  }
  .input-field {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3em;
    input {
      border: none;
      padding: 0.4em 0.8em;
      margin-bottom: 0.6em;
      &::placeholder {
        font-size: 0.8em;
      }
    }
    .btn {
      font-size: 0.8em;
      padding: 1em 0;
    }
  }
}

footer {
  background-color: $veryDarkBlue;
  color: #fff;
  .footer-logo {
    img {
      max-width: 175px;
      margin-top: 3em;
      margin-bottom: 1em;
      padding-left: 2em;
    }
  }
  .container {
    padding: 0 2em;
    .contact {
      margin-bottom: 1em;
      .phone {
        display: flex;
        align-items: center;
        line-height: 0;
        p {
          margin-left: 1em;
        }
      }
      .email {
        display: flex;
        align-items: center;

        p {
          margin-left: 1em;
        }
      }
    }
  }
  .footer-nav {
    margin-bottom: 1em;
    ul li {
      cursor: pointer;
      transition: all 0.3s ease;
      margin-bottom: 0.9em;
    }
  }
  .socmed {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 3em;
    margin-top: 1em;

    .icon {
      width: 25px;
      height: 25px;
      margin: 0 5px;
      cursor: pointer;
      border: 1px solid #fff;
      border-radius: 50%;
      position: relative;
      transition: all 0.3s ease;
      &:hover {
        background-color: #fff;
        i {
          color: $veryDarkBlue;
        }
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
