@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #070439;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2em;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: #3065f8;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translate(0, -1px);
          transform: translate(0, -1px);
}

input {
  border: 1px solid #070439;
  border-radius: 5px;
  color: #070439;
  outline: none;
}

input::-webkit-input-placeholder {
  font-family: "Raleway", sans-serif;
  color: #bfbfbf;
}

input:-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  color: #bfbfbf;
}

input::-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  color: #bfbfbf;
}

input::placeholder {
  font-family: "Raleway", sans-serif;
  color: #bfbfbf;
}

header {
  margin-top: 2em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  max-width: 80px;
  margin-right: auto;
}

header nav a {
  font-size: 0.8em;
  margin-left: 2em;
  color: #070439;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: nowrap;
}

header nav a:hover {
  color: #3065f8;
}

section.hero {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
}

section.hero h1 {
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

section.hero p {
  font-size: 0.9em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

section.hero .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.hero .register input {
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

section.hero .register input::-webkit-input-placeholder {
  font-size: 0.8em;
}

section.hero .register input:-ms-input-placeholder {
  font-size: 0.8em;
}

section.hero .register input::-ms-input-placeholder {
  font-size: 0.8em;
}

section.hero .register input::placeholder {
  font-size: 0.8em;
}

section.hero .register .btn {
  padding: 0.8em 0;
  font-size: 0.9em;
}

.background-curve {
  background-image: url(/images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 3.5em;
  margin: 0 auto;
}

section.productive {
  text-align: center;
  background-color: #f6f6fe;
}

section.productive .img-content {
  margin-top: 3em;
  margin-bottom: 4em;
}

section.productive .text-content h1 {
  font-size: 1em;
  line-height: 1.5;
}

section.productive .text-content p {
  font-size: 0.9em;
  text-align: left;
  line-height: 1.5;
}

section.productive .text-content .fylo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 140px;
  border-bottom: 1px solid #3c9f8f;
  margin: 0 auto;
  margin-top: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.3em;
}

section.productive .text-content .fylo-link a {
  font-size: 0.8em;
  color: #3c9f8f;
}

section.productive .text-content .fylo-link .arrow-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.productive .text-content .testimonials {
  background-color: #fff;
  border-radius: 5px;
  padding: 1.2em 1.8em;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 5em;
}

section.productive .text-content .testimonials .icon-quotes {
  width: 1em;
}

section.productive .text-content .testimonials p {
  text-align: left;
  font-size: 0.65em;
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin-top: 0.5em;
}

section.productive .text-content .testimonials .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.productive .text-content .testimonials .user .avatar {
  max-width: 24px;
  margin-right: 0.5em;
}

section.productive .text-content .testimonials .user .avatar img {
  border-radius: 50%;
}

section.productive .text-content .testimonials .user .profile .name {
  font-size: 0.6em;
  font-weight: 700;
  margin-bottom: 0.4em;
}

section.productive .text-content .testimonials .user .profile .title {
  font-size: 0.5em;
  line-height: 1;
  margin-top: 0;
}

section.cta {
  text-align: center;
  background-color: #585989;
  color: #fff;
}

section.cta .text-content h1 {
  font-size: 1em;
  margin-top: 3em;
  margin-bottom: 1em;
}

section.cta .text-content p {
  font-size: 0.8em;
  width: 85%;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

section.cta .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3em;
}

section.cta .input-field input {
  border: none;
  padding: 0.4em 0.8em;
  margin-bottom: 0.6em;
}

section.cta .input-field input::-webkit-input-placeholder {
  font-size: 0.8em;
}

section.cta .input-field input:-ms-input-placeholder {
  font-size: 0.8em;
}

section.cta .input-field input::-ms-input-placeholder {
  font-size: 0.8em;
}

section.cta .input-field input::placeholder {
  font-size: 0.8em;
}

section.cta .input-field .btn {
  font-size: 0.8em;
  padding: 1em 0;
}

footer {
  background-color: #070439;
  color: #fff;
}

footer .footer-logo img {
  max-width: 175px;
  margin-top: 3em;
  margin-bottom: 1em;
  padding-left: 2em;
}

footer .container {
  padding: 0 2em;
}

footer .container .contact {
  margin-bottom: 1em;
}

footer .container .contact .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
}

footer .container .contact .phone p {
  margin-left: 1em;
}

footer .container .contact .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .contact .email p {
  margin-left: 1em;
}

footer .footer-nav {
  margin-bottom: 1em;
}

footer .footer-nav ul li {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 0.9em;
}

footer .socmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 3em;
  margin-top: 1em;
}

footer .socmed .icon {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .socmed .icon:hover {
  background-color: #fff;
}

footer .socmed .icon:hover i {
  color: #070439;
}

footer .socmed .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=styles.css.map */