@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

// Colors
$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$cyan: hsl(170, 45%, 43%);
$grayBlue: hsl(240, 75%, 98%);
$gray: hsl(0, 0%, 75%);

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $veryDarkBlue;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding-inline-start: 0;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: $brightBlue;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translate(0, -2px);
  }
}

input {
  border: 1px solid $veryDarkBlue;
  border-radius: 5px;
  color: $veryDarkBlue;
  outline: none;
  &::placeholder {
    font-family: "Raleway", sans-serif;
    color: $gray;
  }
}

header {
  margin-top: 2em;
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      max-width: 80px;
      margin-right: auto;
    }
    a {
      font-size: 0.8em;
      margin-left: 2em;
      color: $veryDarkBlue;
      transition: all 0.3s ease;
      white-space: nowrap;
      &:hover {
        color: $cyan;
      }
    }
  }
}

section.hero {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
  h1 {
    font-size: 1.5em;
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  p {
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }
  .register {
    display: flex;
    flex-direction: column;
    input {
      padding: 0.5em 1em;
      margin-bottom: 1em;
      &::placeholder {
        font-size: 0.8em;
      }
    }
    .btn {
      padding: 0.8em 0;
      font-size: 0.9em;
    }
  }
}

.background-curve {
  background-image: url(/images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 3.5em;
  margin: 0 auto;
}

section.productive {
  text-align: center;
  background-color: $grayBlue;
  .img-content {
    margin-top: 3em;
    margin-bottom: 4em;
  }
  .text-content {
    h1 {
      font-size: 1em;
      line-height: 1.5;
    }
    p {
      font-size: 0.9em;
      text-align: left;
      line-height: 1.5;
    }
    .fylo-link {
      display: flex;
      justify-content: space-between;
      max-width: 140px;
      border-bottom: 1px solid $cyan;
      margin: 0 auto;
      margin-top: 2em;
      align-items: center;
      padding-bottom: 0.3em;
      a {
        font-size: 0.8em;
        color: $cyan;
      }
      .arrow-icon {
        display: flex;
        align-items: center;
      }
    }
    .testimonials {
      background-color: #fff;
      border-radius: 5px;
      padding: 1.2em 1.8em;
      margin: 0 auto;
      margin-top: 3em;
      margin-bottom: 5em;
      width: 70%;
      .icon-quotes {
        width: 1em;
      }
      p {
        text-align: left;
        font-size: 0.65em;
        line-height: 1.5;
        letter-spacing: 0.2px;
        margin-top: 0.5em;
      }
      .user {
        display: flex;
        align-items: center;
        .avatar {
          max-width: 24px;
          margin-right: 0.5em;
          img {
            border-radius: 50%;
          }
        }
        .profile {
          .name {
            font-size: 0.6em;
            font-weight: 700;
            margin-bottom: 0.4em;
          }
          .title {
            font-size: 0.5em;
            line-height: 1;
            margin-top: 0;
          }
        }
      }
    }
  }
}

section.cta {
  text-align: center;
  background-color: $desaturatedBlue;
  color: #fff;
  .text-content {
    h1 {
      font-size: 1em;
      margin-top: 3em;
      margin-bottom: 1em;
    }
    p {
      font-size: 0.8em;
      width: 85%;
      margin: 0 auto;
      line-height: 1.5;
      margin-bottom: 1.5em;
    }
  }
  .input-field {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3em;
    input {
      border: none;
      padding: 0.4em 0.8em;
      margin-bottom: 0.6em;
      &::placeholder {
        font-size: 0.8em;
      }
    }
    .btn {
      font-size: 0.8em;
      padding: 1em 0;
    }
  }
}

footer {
  background-color: $veryDarkBlue;
  color: #fff;
  padding-bottom: 2em;
  .footer-logo {
    img {
      max-width: 175px;
      margin-top: 3em;
      margin-bottom: 1em;
      padding-left: 2em;
    }
  }
  .container {
    padding: 0 2em;
    .contact {
      margin-bottom: 1em;
      .phone {
        display: flex;
        align-items: center;
        line-height: 0;
        p {
          margin-left: 1em;
        }
      }
      .email {
        display: flex;
        align-items: center;

        p {
          margin-left: 1em;
        }
      }
    }
  }
  .footer-nav {
    margin-bottom: 1em;
    ul li {
      cursor: pointer;
      transition: all 0.3s ease;
      margin-bottom: 0.9em;
      &:hover {
        color: $cyan;
      }
    }
  }
  .socmed {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 3em;
    margin-top: 1em;

    .icon {
      width: 25px;
      height: 25px;
      margin: 0 5px;
      cursor: pointer;
      border: 1px solid #fff;
      border-radius: 50%;
      position: relative;
      transition: all 0.3s ease;
      &:hover {
        background-color: #fff;
        i {
          color: $veryDarkBlue;
        }
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

// Media Queries
@media screen and (min-width: 768px) {
  .background-curve {
    background-image: url(/images/bg-curve-desktop.svg);
    min-height: 4em;
  }
  .container {
    flex-direction: row;
    padding: 0 2em;
  }
  header {
    margin-top: 3em;
    .container {
      flex-direction: column;
    }
  }
  section.hero {
    text-align: left;
    margin-top: 4em;
    .container {
      flex-direction: row-reverse;
      justify-content: space-between;
      .img-content {
        display: flex;
        align-items: center;
        width: 48%;
      }
      .text-content {
        width: 50%;
        h1 {
          margin-top: 0;
          font-size: 1.5em;
          margin-bottom: 0;
        }
        p {
          width: 100%;
          font-size: 0.9em;
        }
        .register {
          width: 85%;
        }
      }
    }
  }
  section.productive {
    text-align: left;
    .container {
      flex-direction: row-reverse;
      padding-top: 3em;
      .img-content {
        display: flex;
        align-items: center;
        width: 45%;
        margin: 0 auto;
      }
      .text-content {
        width: 50%;
        h1 {
          font-size: 1.3em;
        }
        .fylo-link {
          margin: 0;
          max-width: 140px;
        }
        .testimonials {
          max-width: 70%;
          margin: 0;
          margin-top: 2em;
          margin-bottom: 5em;
          p {
            font-size: 0.7em;
          }
          .user .profile {
            .name {
              font-size: 0.8em;
              margin-bottom: 0;
            }
            .title {
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }
  section.cta {
    text-align: left;
    .container {
      justify-content: space-between;
      .text-content {
        width: 55%;
        h1 {
          margin: 0;
          margin-bottom: 1em;
          margin-top: 2em;
        }
        p {
          margin: 0;
          margin-bottom: 3em;
        }
      }
      .input-field {
        width: 40%;
        margin-top: 2em;
        .btn {
          width: 60%;
        }
      }
    }
  }
  footer {
    font-size: 0.9em;
    .footer-logo {
      img {
        max-width: 140px;
        padding-left: 2em;
        margin-bottom: 1em;
      }
    }
    .container {
      justify-content: space-between;
      padding: 0 2em;
    }
  }
}

@media screen and (min-width: 960px) {
  header nav a {
    font-size: 1em;
  }
  section.hero {
    .register {
      flex-direction: row;
      input {
        width: 55%;
        padding: 0.5em 1em;
        margin-bottom: 0;
      }
      .btn {
        width: 45%;
        margin-left: 1em;
      }
    }
  }
  .text-content > p {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding: 0 4em;
  }
  header {
    nav {
      .logo {
        max-width: 160px;
      }
      a {
        font-size: 1.2em;
        margin-left: 3.2em;
      }
    }
  }

  section.hero {
    .container {
      .text-content {
        h1 {
          font-size: 2.6em;
        }
        p {
          font-size: 1.2em;
          line-height: 1.4;
          width: 90%;
        }
        .register {
          width: 80%;
          input {
            font-size: 1.2em;
          }
          .btn {
            font-size: 1em;
          }
        }
      }
    }
  }

  section.productive {
    .container {
      padding-top: 4em;
      .text-content {
        width: 50%;
        h1 {
          font-size: 2em;
          margin-bottom: 1.2em;
        }
        p {
          font-size: 1.2em;
          width: 85%;
        }
        .fylo-link {
          max-width: 180px;
          a {
            font-size: 1.1em;
          }
        }
        .testimonials {
          max-width: 60%;
          padding: 2em 2.5em;
          p {
            font-size: 1em;
            width: 100%;
          }
          .user {
            .avatar {
              max-width: 3em;
            }
            .profile {
              p.name {
                font-size: 1em;
              }
              p.title {
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
  }

  section.cta {
    align-items: center;
    .text-content {
      margin-top: 3em;
      margin-bottom: 3em;
      h1 {
        font-size: 1.7em;
      }
      p {
        font-size: 1em;
        width: 75%;
      }
    }
    .input-field {
      justify-content: center;
      input {
        font-size: 1.2em;
        margin-bottom: 1.2em;
      }
      .btn {
        max-width: 250px;
        font-size: 0.9em;
      }
    }
  }

  footer {
    padding-bottom: 3em;
    font-size: 1.1em;
    .footer-logo {
      max-width: 1440px;
      margin: 0 auto;
      img {
        max-width: 180px;
        padding-left: 0.5em;
        margin-top: 5em;
        margin-bottom: 2em;
      }
    }
    .container {
      padding: 0 4em;
      .footer-nav ul li {
        margin-bottom: 1.5em;
      }
      .socmed {
        margin: 0;
        .icon {
          margin-left: 1.2em;
        }
      }
    }
  }
}
